nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  background-color: black;

  div {
    display: flex;
    gap: 20px;

    a {
      color: #fff;
      text-decoration-line: none;
      line-height: 50px;
      padding: 0 10px;

      .active {
        background-color: rgb(34, 39, 48);
      }

      &:hover {
        background-color: #222730;
      }
    }
  }
}
